<!-- Slider -->
<div class="container-fluid" id="scrollspyHeading1">
  <div id="carouselExampleFade" class="carousel slide carousel-fade carousel-dark">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./img/banner-khoahoc.png" class="d-block w-100" alt="..." style="opacity: 0.5;">
        <div class="carousel-caption d-none d-md-block mb-5 text-dark">
          <h5 class="fs-1 fw-bolder text-dark">Chào mừng đến với Study with me!</h5>
          <p class="fs-4">Ở đây chúng tôi mang đến cho bạn những bài học hữu ích để giúp bạn nắm vững chúng kiến
            thức
            từ cơ bản đến nâng cao về nhiều mặt của môn học lập trình phổ biến.</p>
          <button type="button" class="btn btn-dark btn-lg rounded-pill px-5 py-3"><a href=""
              class="text-light text-decoration-none">Học thôi</a></button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./img/banner-khoahoc.png" class="d-block w-100" alt="..." style="opacity: 0.5;">
        <div class="carousel-caption d-none d-md-block mb-5 text-dark">
          <h5 class="fs-1 fw-bolder text-dark">Welcome to Study with me!</h5>
          <p class="fs-4">Here we bring you useful lessons to help you master them knowledge from basic to advanced
            versions of many aspects of programming subjects popular.</p>
          <button type="button" class="btn btn-dark btn-lg rounded-pill px-5 py-3"><a href=""
              class="text-light text-decoration-none">Learn now</a></button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Giới thiệu -->
<div class="container my-5">
  <div class="row mb-5">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="tab px-4 py-4 shadow bg-body-tertiary rounded mx-3">
        <h1><i class="bi bi-laptop" style="color: orangered;"></i></h1>
        <p class="fw-bold fs-5 text-uppercase">Đa nền tảng</p>
        <p>Thông qua nhiều nền tảng công nghệ khác nhau, như máy tính, điện thoại di động, máy tính bảng, và các
          thiết
          bị khác.</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="tab px-4 py-4 shadow bg-body-tertiary rounded mx-3">
        <h1><i class="bi bi-card-image" style="color: orangered;"></i></h1>
        <p class="fw-bold fs-5 text-uppercase">Hình ảnh chất lượng</p>
        <p>Hình ảnh chất lượng, sống động, bắt mắt. Video vô cùng phong phú dễ dàng tiếp cận với người học.
        </p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="tab px-4 py-4 shadow bg-body-tertiary rounded mx-3">
        <h1><i class="bi bi-calendar-heart" style="color: orangered;"></i></h1>
        <p class="fw-bold fs-5 text-uppercase">Đa dạng môn học</p>
        <p>Bạn có thể tìm thấy hơn 100 khóa học không mất phí và mất phí liên quan đến Java, C#, AngularJS,
          HTML&CSS, v.v</p>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-sm-12 col-md-6">
      <div class="ps-2 py-5">
        <img src="./img/R.jpg" alt="" width="550">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6">
      <div class="pe-3 py-5">
        <p class="fw-bold fs-5 text-uppercase">Study with me được thiết kế nhằm giúp người dùng truy cập miễn phí
        </p>
        <p>Tìm mọi khóa học không mất phí với Study with me ở đây. Chúng ta có thể lọc các khóa học theo hoạt động,
          định
          dạng (audio hoặc video), chủ đề, v.v. toàn bộ các khóa học được tổng hợp và thống kê theo cấp bậc (mở đầu,
          trung cấp, v.v) và thời lượng phát để tiện theo dõi hơn.</p>
        <p>Chọn từ vô số đề tài với hơn 800 khóa học không mất phí cung cấp kiến thức giáo dục có cấp văn bằng và
          chứng chỉ với Study with me. Ngoài ra:</p>
        <p><i class="bi bi-check2-circle" style="color: orangered;"></i> Bạn buộc phải làm bài tập</p>
        <p><i class="bi bi-check2-circle" style="color: orangered;"></i> Đạt ít nhất 80% điểm số để qua môn</p>
        <p><i class="bi bi-check2-circle" style="color: orangered;"></i> Đảm bảo bạn có đủ kỹ năng để bắt đầu học
          lên.
        </p>
      </div>
    </div>
  </div>
  <!-- Dịch vụ -->
  <div class="row mb-5">
    <h1 class="text-uppercase text-center mb-5">Dịch vụ</h1>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="tab px-4 py-4 shadow bg-body-tertiary rounded mx-3 text-center">
        <h1><i class="bi bi-globe2" style="color: orangered;"></i></h1>
        <p class="fw-bold fs-5">Học trực tuyến</p>
        <p>Bạn có thể học mọi lúc mọi nơi với website của chúng tôi</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="tab px-4 py-4 shadow bg-body-tertiary rounded mx-3 text-center">
        <h1><i class="bi bi-file-earmark-text" style="color: orangered;"></i></h1>
        <p class="fw-bold fs-5">Môn học</p>
        <p>Có đầy đủ các môn học cần thiết cho các nhu cầu về lập trình</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="tab px-4 py-4 shadow bg-body-tertiary rounded mx-3 text-center">
        <h1 class="bg"><i class="bi bi-hourglass-split" style="color: orangered;"></i></h1>
        <p class="fw-bold fs-5">Hiệu suất</p>
        <p>Sau khi làm đầy đủ các bài quiz trên website bạn có thể hiểu được từ cơ bản tới nâng cao</p>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="tab px-4 py-4 shadow bg-body-tertiary rounded mx-3 text-center">
        <h1><i class="bi bi-egg-fried" style="color: orangered;"></i></h1>
        <p class="fw-bold fs-5">Miễn phí</p>
        <p>Tất cả các bài quiz trên website của chúng tôi đều được cung cấp miễn phí cho bạn.</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="tab px-4 py-4 shadow bg-body-tertiary rounded mx-3 text-center">
        <h1><i class="bi bi-collection-fill" style="color: orangered;"></i></h1>
        <p class="fw-bold fs-5">Đa thiết bị</p>
        <p>Website của chúng tôi hỗ trợ đầy đủ trên các nền tảng desktop, mobile....</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="tab px-4 py-4 shadow bg-body-tertiary rounded mx-3 text-center">
        <h1 class="bg"><i class="bi bi-globe-asia-australia" style="color: orangered;"></i></h1>
        <p class="fw-bold fs-5">Đa ngôn ngữ</p>
        <p>Hỗ trợ nhiều ngôn ngữ cho bạn tự do lựa chọn phù hợp với nhu cầu sử dụng</p>
      </div>
    </div>
  </div>
</div>