<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ps-5 pt-4 fs-5">
            <li class="breadcrumb-item"><a href="" style="color: orangered; text-decoration: none;">Trang
                    chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giới thiệu
            </li>
        </ol>
    </nav>
</div>
<!-- giới thiệu -->
<div class="row card bg-body-tertiary mt-3 pb-5">
    <div class="card-header mb-3 pt-3 px-5" ng-controller="pageTitleCtrl">
        <h4>GIỚI THIỆU VỀ WEBSITE LÀM TRẮC NGHIỆM ONLINE - Study with me</h4>
    </div>
    <div class="card-body">
        <div class="row px-5">
            <h5 class="px-5">1. VÀI NÉT KHÁI QUÁT</h5>
            <p class="px-5">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
                modi labore necessitatibus voluptatibus totam quam aliquid
                voluptas, laudantium possimus repellat impedit numquam. Laboriosam
                nam iste fugiat voluptatibus modi, distinctio sapiente. Lorem,
                ipsum dolor sit amet consectetur adipisicing elit. Modi porro
                eaque voluptas dolores, enim id dolorem hic dolore neque ipsam
                consectetur praesentium explicabo delectus iure adipisci in vitae
                cum eveniet. Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Explicabo, officia assumenda. Perspiciatis provident, enim
                facilis quia et explicabo est dolorem sunt. Dolor quidem eius
                magnam, vero facilis incidunt iusto sit? Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Vitae in quas numquam tenetur
                repellat tempore. Provident placeat vitae illo quasi maxime
                expedita molestiae, laudantium assumenda eius, eveniet officia
                dignissimos earum. Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Reprehenderit sit dolorum quidem? Beatae vitae,
                repellendus iste quisquam incidunt maiores soluta nostrum nobis
                sit maxime delectus totam suscipit itaque omnis praesentium?
            </p>
            <img src="./img/undraw_online_test.svg" style="width: 40%" class="img-fluid mx-auto d-block" />
        </div>
        <br />
        <div class="row px-5">
            <h5 class="px-5">2. Ý TƯỞNG THÀNH LẬP WEBSITE</h5>
            <p class="px-5">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
                modi labore necessitatibus voluptatibus totam quam aliquid
                voluptas, laudantium possimus repellat impedit numquam. Laboriosam
                nam iste fugiat voluptatibus modi, distinctio sapiente. Lorem,
                ipsum dolor sit amet consectetur adipisicing elit. Modi porro
                eaque voluptas dolores, enim id dolorem hic dolore neque ipsam
                consectetur praesentium explicabo delectus iure adipisci in vitae
                cum eveniet. Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Explicabo, officia assumenda. Perspiciatis provident, enim
                facilis quia et explicabo est dolorem sunt. Dolor quidem eius
                magnam, vero facilis incidunt iusto sit? Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Vitae in quas numquam tenetur
                repellat tempore. Provident placeat vitae illo quasi maxime
                expedita molestiae, laudantium assumenda eius, eveniet officia
                dignissimos earum. Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Reprehenderit sit dolorum quidem? Beatae vitae,
                repellendus iste quisquam incidunt maiores soluta nostrum nobis
                sit maxime delectus totam suscipit itaque omnis praesentium?
            </p>
            <img src="./img/undraw_design_notes.svg" style="width: 40%" class="img-fluid mx-auto d-block" />
        </div>
        <br />
        <div class="row px-5">
            <h5 class="px-5">3. VỀ ĐỘI NGŨ CỦA NHÓM</h5>
            <p class="px-5">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
                modi labore necessitatibus voluptatibus totam quam aliquid
                voluptas, laudantium possimus repellat impedit numquam. Laboriosam
                nam iste fugiat voluptatibus modi, distinctio sapiente. Lorem,
                ipsum dolor sit amet consectetur adipisicing elit. Modi porro
                eaque voluptas dolores, enim id dolorem hic dolore neque ipsam
                consectetur praesentium explicabo delectus iure adipisci in vitae
                cum eveniet. Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Explicabo, officia assumenda. Perspiciatis provident, enim
                facilis quia et explicabo est dolorem sunt. Dolor quidem eius
                magnam, vero facilis incidunt iusto sit? Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Vitae in quas numquam tenetur
                repellat tempore. Provident placeat vitae illo quasi maxime
                expedita molestiae, laudantium assumenda eius, eveniet officia
                dignissimos earum. Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Reprehenderit sit dolorum quidem? Beatae vitae,
                repellendus iste quisquam incidunt maiores soluta nostrum nobis
                sit maxime delectus totam suscipit itaque omnis praesentium?
            </p>
            <img src="./img/undraw_team_page.svg" style="width: 40%" class="img-fluid mx-auto d-block" />
        </div>
    </div>
</div>