<div class="container">
    <div class="row bg-body-tertiary mt-3 pt-3 pb-3">
        <div class="col-12 col-sm-4 col-md-3">
            <div class="nav flex-column flex-shrink-0 nav-pills me-3" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#" />
                    </svg>
                    <span class="text-center text-uppercase fw-bolder fs-5">Bảng quản trị</span>
                </a>
                <hr>
                <!-- <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">
                    <i class="bi bi-person-circle"></i> Thông tin cá nhân
                </button> -->
                <!-- <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                    aria-selected="false">
                    <i class="bi bi-heart-fill"></i> Yêu thích
                </button> -->
                <button class="nav-link active" id="v-pills-messages-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                    aria-selected="true">
                    <i class="bi bi-card-list"></i> Quản lí khóa học
                </button>
                <!-- <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                    aria-selected="false">
                    <i class="bi bi-gear-fill"></i> Cài đặt
                </button> -->
                <!-- <button class="nav-link" id="v-pills-diff-tab" data-bs-toggle="pill" data-bs-target="#v-pills-diff"
                    type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <i class="bi bi-bell-fill"></i> Thông báo
                </button> -->
            </div>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <!-- <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="row p-3">
                        <div class="col-12 col-sm-2 col-md-2">
                            <div class="ps-4">
                                <img src="./img/meow.jpg" alt="" width="100" class="rounded-circle shadow">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-10">
                            <div class="ps-5">
                                <div class="row">
                                    <h2>Nguyễn Thu Nghĩa</h2>
                                    <h4 class="fw-lighter">Nguyễn Thu Nghĩa</h4>
                                </div>
                                <div class="row">
                                    <div>
                                        <button type="button" class="btn btn-primary btn-chinhsua"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Chỉnh sửa thông tin
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="row">
                                <p class="fw-semibold fs-5 mb-1">Tên đăng nhập</p>
                                <p>nghiant12</p>
                            </div>
                            <div class="row">
                                <p class="fw-semibold fs-5 mb-1">Ngày sinh</p>
                                <p>12-02-2004</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="row">
                                <p class="fw-semibold fs-5 mb-1">Họ và tên</p>
                                <p>Nguyễn Thu Nghĩa</p>
                            </div>
                            <div class="row">
                                <p class="fw-semibold fs-5 mb-1">Giới tính</p>
                                <p>Nữ</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel"
                    aria-labelledby="v-pills-messages-tab">
                    <div class="row p-3">
                        <div class="card">
                            <h3 class="card-header">Danh sách khóa học</h3>
                            <div class="card-body">
                                <a class="btn btn-success mb-3" href="#!/add-mon-hoc" role="button">+ Thêm khóa học
                                    mới</a>
                                <div class="table-responsive">
                                    <table class="table table-light table-bordered table-hover table-striped">
                                        <thead class="table-warning">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Mã môn học</th>
                                                <th scope="col">Tên môn học</th>
                                                <th scope="col">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="" ng-repeat="item in listMonHoc">
                                                <td scope="row">{{$index+1}}</td>
                                                <td>{{item.maMH}}</td>
                                                <td>{{item.tenMH}}</td>
                                                <td>
                                                    <a href="#!/detail-mon-hoc/{{item.id}}">
                                                        <button class="btn btn-info me-2">Xem chi tiết</button>
                                                    </a>
                                                    <a href="#!/update-mon-hoc/{{item.id}}" class="btn btn-warning">Sửa</a>
                                                    <button ng-click="delMonHoc(item.id)"
                                                        class="btn btn-danger me-2">Xóa</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="row p-3">

                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-diff" role="tabpanel" aria-labelledby="v-pills-diff-tab">
                    <div class="row p-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>